/* * {
 border: 1px solid red;
} */


  
/*컨셉 색상*/

/*UI BASE1
#C7D36F

UI BASE2
#FCF9C6

UI BASE3
#E0DECA*/

/* 폰트 링크(주아체, 감자꽃체) */
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Jua&display=swap');

*{
    font-family: 'Gamja Flower', cursive;
    font-size: 26px;
}

/*메인*/
.main_container{
    width: 85%;
    margin: auto;
}

.title_box{
    width: 70%;
    margin: 90px auto 0 auto;
    height: 50px;
    font-family: 'Noto Serif KR', serif;
    text-align: center;
    border-radius: 10px;
    color: white;
    margin-bottom: 30px;
    border: none;
    background-color: #C7D36F;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.main_box{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
}   

.left_box{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left_img_box{
    width: 400px;
    height: 400px;
    border: solid 2px #E0DECA;
}

.left_name_box{
    margin-top: 20px;
    width: 400px;
    height: 50px;
    text-align: center;
}

.left_name_button{
    font-family: 'Noto Serif KR', serif;
    font-size: 20px;
    border-radius: 3px;
    border: none;
    background-color: #E0DECA;
    color: black;
    text-align: center;

}

.left_rate_box{
    width: 400px;
    height: 50px;
    text-align: center;
}

.left_rate_button{
    font-family: 'Noto Serif KR', serif;
    font-size: 20px;
    background-color: #FCF9C6;
    color: black;
    border: none;
}

.left_userinfo_box{
    width: 400px;
    height: 60px;
    text-align: center;
    font-size: 18px;
}



/*오른쪽 메인*/
.right_box{
    width: 90%;
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right_rank-intro_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 100px;
    font-size: 20px;
    text-align: left;
}

.right_rank-intro_title{
    margin-bottom: 10px;
}

.right_rank-intro_title_button{
    font-size: 15px;
}

.right_rank-intro_content{
    width: 90%;
    font-size: 20px;
    text-align: center;
}

.right_period_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 100px;
    font-size: 20px;
    text-align: center;
}

.right_period_title{
    margin-bottom: 10px;
}

.right_period_title_button{
    font-size: 15px;
}

.right_period_content{
    width: 90%;
    margin-left: 3%;
    font-size: 20px;
}

.right_location_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 100px;
    font-size: 20px;
    text-align: center;
}

.right_location_title{
    margin-bottom: 10px;
}

.right_location_title_button{
    font-size: 15px;
}

.right_location_content{
    width: 90%;
    margin-left: 3%;
    font-size: 20px;
}

.right_requirement_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 100px;
    font-size: 20px;
    text-align: center;
}

.right_requirement_title{
    margin-bottom: 10px;
}

.right_requirement_title_button{
    font-size: 15px;
}

.right_requirement_content{
    width: 90%;
    margin-left: 3%;
    font-size: 20px;
}

.right_cost_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 100px;
    font-size: 20px;
    text-align: center;
}

.right_cost_title{
    margin-bottom: 10px;
}

.right_cost_title_button{
    font-size: 15px;
}

.right_cost_content{
    width: 90%;
    margin-left: 3%;
    font-size: 20px;
}

.right_desc_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 300px;
    font-size: 20px;
    text-align: center;
}

.right_desc_title{
    margin-bottom: 10px;
}

.right_desc_title_button{
    font-size: 15px;
}

.right_desc_content{
    width: 90%;
    height: 250px;
    margin-left: 3%;
    font-size: 15px;
    border: 2px solid #C7D36F;
}

/*버튼*/
.user_button_box{
    width: 90%;
    padding: 20px 0 20px 0;
    margin: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.roadmap_btn{
    width: 70px;
    height: 30px;
    margin-bottom: 10px;
}
.roadmap_btn:hover{
    cursor: pointer;
}
.roadmap_btn_word{
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 15px;
    text-decoration-line: none;
    color: inherit;
}

.apply_btn{
    width: 70px;
    margin-bottom: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 15px;
    text-decoration-line: none;
    color: inherit;
}
.apply_btn:hover{
    cursor: pointer;
}


.farm_button_box{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.edit_btn{
    width: 70px;
    height: 30px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.edit_btn_word{
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 15px;
    text-decoration-line: none;
    color: inherit;
}

.edit_btn:hover{
    cursor: pointer;
}

.end_btn{
    width: 70px;
    margin-bottom: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 15px;
    text-decoration-line: none;
    color: inherit;
}
.end_btn:hover{
    cursor: pointer;
}

/* 지도 */
.map{
    margin: auto;
}

/*리뷰*/

.review_image_container{
    margin-top: 30px;
    position: relative;
    width: 990px;
    margin: auto;
    height: 300px;
    overflow: hidden;
    
}

.reviewslides{
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    transition: left 0.5s ease-out;
    height: 300px;
}

.reviewslides li:not(:last-child){
    float: left;
    margin-right: 30px;

}

.controls{
    text-align: center;
    height: 50px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back{
    width: 50px;
    height: 30px;
    margin-bottom: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 15px;
    text-decoration-line: none;
    color: inherit;
    margin-right: 10px;
}

.go{
    width: 50px;
    height: 30px;
    margin-bottom: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 15px;
    text-decoration-line: none;
    color: inherit;
}

.review_container{
    width: 90%;
    margin: auto;
    margin-top: 30px;
}

.review_box{
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    font-size: 18px;
    border-radius: 5px;
    border: solid 2px #C7D36F;
}

.review_rate{
    margin-left: 1%;
    width: 7%;
}

.review_user{
    margin-left: 3%;
    width: 8%;
}

.review_user_button{
    font-size: 18px;
}

.review_content{
    width: 77%;
    font-size: 18px;
    margin-left: 3%;
}


/* 슬라이드 이미지 */
li{
    list-style-type: none;
}
  
/* 보여줄 구간의 높이와 넓이 설정 */
#slideShow{
width: 400px;
height: 330px;
position: relative;
margin-top: 30px;
overflow: hidden;   
/*리스트 형식으로 이미지를 일렬로 
정렬할 것이기 때문에, 500px 밖으로 튀어 나간 이미지들은
hidden으로 숨겨줘야됨*/
}


.slides{
display: flex;
position: absolute;
left: 0;
top: 0;
/* width: 100px; */
/* 슬라이드할 사진과 마진 총 넓이 */
transition: left 0.5s ease-out; 
/*ease-out: 처음에는 느렸다가 점점 빨라짐*/
}

/* 첫 번째 슬라이드 가운데에 정렬하기위해
첫번째 슬라이드만 margin-left조정 */
.slides li:first-child{
margin-left: 10px;
}

/* 슬라이드들 옆으로 정렬 */
.slides li:not(:last-child){
float: left;
margin-right: 90px;
}

.slides li{
float: left;
}

.controller span{
position:absolute;
background-color: transparent;
color: black;
text-align: center;
border-radius: 50%;
padding: 10px 20px;
top: 50%;
font-size: 1.3em;
cursor: pointer;
}

/* 이전, 다음 화살표에 마우스 커서가 올라가 있을때 */
.controller span:hover{
background-color: rgba(128, 128, 128, 0.11);
}

.prev{
left: 10px;
}

/* 이전 화살표에 마우스 커서가 올라가 있을때 
이전 화살표가 살짝 왼쪽으로 이동하는 효과*/
.prev:hover{
transform: translateX(-10px);
}

.next{
right: 10px;
}

/* 다음 화살표에 마우스 커서가 올라가 있을때 
이전 화살표가 살짝 오른쪽으로 이동하는 효과*/
.next:hover{
transform: translateX(10px);
}
