@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Jua&display=swap');

#navigationBar {
    /* background: #fff; */
    box-shadow: 0px 1px 10px 10px #ddd;
    height: 60px;
    text-align: left;
    width: 100%;
    position: fixed;
    top: 0;
    font-family: 'Gamja Flower', cursive;
}

#navigationBar>ul>li {
    display: inline;
}

#navigationBar>ul>li>a {
    color: black;
    /* font-weight: bold; */
    display: inline-block;
    height: 60px;
    line-height: 60px;
    margin: 0px;
    padding: 0px 15px;
    text-decoration: none;
    transition: color 0.3s ease-in;
    cursor: pointer;
    font-size: 26px;
}

#navigationBar>ul>li>a:hover {
    color: darkgray;
    font-weight: bold;
}