/* 폰트 링크(주아체, 감자꽃체) */
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Jua&display=swap');

/* * {
    border: 1px solid red;
} */
body {
    background-color: #FCF8E8;
    font-family: 'Gamja Flower', cursive;
    font-size: 21px;
}

.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: auto;

}

.search_box {
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 2px solid #E0DECA;
}

.botton_row {
    display: flex;
    flex-direction: row;
}

.w-btn-outline {
    padding: 15px 30px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    /* box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2); */
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;


}

.w-btn-gray-outline {
    border: 3px solid #a3a1a1;
    color: #6e6e6e;
    height: 30px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    margin-left: 5px;
    margin-right: 5px;


}

.w-btn-outline:hover {
    letter-spacing: 1px;
    transform: scale(1.2);
    cursor: pointer;
}

.w-btn-gray-outline:hover {
    background-color: #a3a1a1;
    color: #e3dede;
}

.w-btn-outline:active {
    transform: scale(1.5);
}

.explanation {
    height: 70px;
    border: 2px solid #C7D36F;
    background-color: #9EB23B;
    margin-top: 15px;
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 1fr 1fr
}

.articles {
    border: 2px solid #C7D36F;
    height: 90px;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 1fr 1fr;
    margin-bottom: 10px;
    opacity: 1;
    transition: opacity 1s ease 0s;
}

.articles:hover {
    background-color: #C7D36F;
}

.contents {

    align-self: center;
    text-align: center;
    margin: green;
}

.article_link {
    text-decoration-line: none;
    color: black;
}

.search_bar {
    width: 50%;
    position: relative;
    display: flex;
    float: right;
    justify-content: right;
}

.searchTerm {
    width: 80%;
    border: 3px solid #C7D36F;
    border-right: none;
    padding: 5px;
    height: 35px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #C7D36F;
}

.searchTerm:focus {
    color: #9EB23B;
}

.searchButton {
    width: 80px;
    height: 35px;
    margin-top: 15px;
    margin-left: -5px;
    border: 1px solid #9EB23B;
    background: #9EB23B;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}