/* 폰트 링크(주아체, 감자꽃체) */
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Jua&display=swap');

/* 레이아웃 틀 */
html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #FCF8E8;
}

body {
    margin: 0;
    height: 100%;
    background: #f5f6f7;
    /* font-family: Dotum,'돋움',Helvetica,sans-serif; */
    font-family: 'Gamja Flower', cursive;
}

#logo {
    width: 240px;
    height: 44px;
    cursor: pointer;
}

#header {
    position: relative;
    padding-top: 130px;
    padding-bottom: 50px;
    text-align: center;
}

#header_2 {
    position: relative;
    /* padding-top: 30px; */
    padding-bottom: 30px;
    text-align: center;
}

#header_3 {
    position: relative;
    padding-top: 70px;
    padding-bottom: 30px;
    text-align: center;
}

#wrapper {
    position: relative;
    min-height: 100vh;
    width: 100%;
    margin: auto;
    background-color: #FCF8E8;
    font-family: 'Gamja Flower', cursive;
}

#content {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 600px;
    height: 1700px;
    min-height: 100%;
    /* footer의 height값과 동일 */
    /* vertical-align: top; */
    background-color: #fff;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);

    padding: 50px 0 0 0;
}

#content_box {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 460px;

    padding-bottom: 130px;
    margin: auto;
    /* footer의 height값과 동일 */
}

footer {
  width: 100%;
  height: 100px;
  bottom: 0px;
  position: absolute;
  border-top: 1px solid #c4c4c4;
  padding-top: 15px;
  color: #808080;
  font-size: 11px;
}

footer a {
  display: inline-block;
  margin: 0 20px 10px 20px;
  color: #808080; font-size: 11px;
}

footer a:visited {
  color: #808080;
}

footer p {
  margin-top: 0; margin-bottom: 0;   
}

footer p span {
  display: inline-block;
  margin-left: 20px;
}



/* 입력폼 */


h3 {
    margin: 19px 0 8px;
    font-size: 14px;
    font-weight: 700;
}


.box {
    display: block;
    width: 100%;
    height: 51px;
    border: solid 1px #dadada;
    padding: 10px 14px 10px 14px;
    box-sizing: border-box;
    background: #fff;
    position: relative;
}

.int {
    display: block;
    position: relative;
    width: 100%;
    height: 29px;
    border: none;
    background: #fff;
    /* font-size: 15px; */
    font-size: 24px;
}

input {
    font-family: Dotum,'돋움',Helvetica,sans-serif;    
}

.box.int_id {
    padding-right: 110px;
}

.box.int_pass {
    padding-right: 40px;
}

.box.int_pass_check {
    padding-right: 40px;
}

.step_url {
    /*@naver.com*/
    position: absolute;
    top: 16px;
    right: 13px;
    font-size: 15px;
    color: #8e8e8e;
}

.pswdImg {
    width: 18px;
    height: 20px;
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 16px;
    margin-top: -10px;
    cursor: pointer;
}

#bir_wrap {
    display: table;
    width: 100%;
}

#bir_yy {
    display: table-cell;
    width: 147px;
    
}

#bir_mm {
    display: table-cell;
    width: 147px;
    vertical-align: middle;
}

#bir_dd {
    display: table-cell;
    width: 147px;
}

#bir_mm, #bir_dd {
    padding-left: 10px;
}

select {
    width: 100%;
    height: 29px;
    font-size: 15px;
    background: #fff url(https://static.nid.naver.com/images/join/pc/sel_arr_2x.gif) 100% 50% no-repeat;
    background-size: 20px 8px;
    -webkit-appearance: none;
    display: inline-block;
    text-align: start;
    border: none;
    cursor: default;
    font-family: Dotum,'돋움',Helvetica,sans-serif;
}

.input_form {
    padding: 15px 0 20px 0;
}


/* 에러메세지 */

.error_next_box {
    margin-top: 9px;
    font-size: 16px;
    color: red;    
    display: none;
}

#alertTxt {
    position: absolute;
    top: 19px;
    right: 38px;
    font-size: 20px;
    color: red;
    display: none;
}

/* 버튼 */

.btn_area {
    margin: 70px 0 20px;
    text-align: center;
}

#btnJoin {
    width: 70%;
    height: 50px;
    /* padding: 21px 0 17px; */
    border: 0;
    cursor: pointer;
    color: #fff;
    background-color: #9EB23B;
    font-size: 27px;
    font-weight: bold;
    /* font-family: Dotum,'돋움',Helvetica,sans-serif; */
    border-radius: 25px;
}

#btnJoin:hover {
    font-weight: bold;
    background-color: #b1c743;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.1);
}

#btnJoin_location {
    width: 100%;
    height: 50px;
    /* padding: 15px 0 11px; */
    border: 0;
    cursor: pointer;
    color: #fff;
    background-color: #9EB23B;
    font-size: 24px;
    font-weight: bold;
    /* font-family: Dotum,'돋움',Helvetica,sans-serif; */
    border-radius: 15px 15px 0 0;
}

.box_container {
    display:flex;
    flex-direction: column;
    align-items: center;

    height: 240px;
}

.box_img {
    width: 150px;
    height: 150px;

    display: block;
    position: relative;
    
    /* border-radius: 70%; */
    overflow: hidden;
}

.int_img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.img_btn_container {
    width: 20%;
    height: 30px;
    margin-top: 20px;

    text-align: center;
}

#btnJoin_img {
  width: 100%;
  height: 100%;
    /* padding: 15px 0 11px; */
    padding: 2px 0 0 0;
    border: 0;
    cursor: pointer;
    color: #fff;
    background-color: #9EB23B;
    font-size: 18px;
    font-weight: bold;
    border-radius: 25px;
    /* font-family: Dotum,'돋움',Helvetica,sans-serif; */
}

#btnJoin_img:hover {
    background-color: #b1c743;
}

.footer {
    text-align: center;

    margin-top: 70px;

    position: relative;
    transform: translateY(-100%);

    color: rgb(121, 121, 121);
}

.clicked{
  /* background-color: rgba(128, 128, 0, 0.7 ); */
  background-color: #FCF9C6;
  /* color: white; */
  font-weight: bold;
  font-size: 15px;
}

.category {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.category button{
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 160px;
  height: 50px;

  margin: 0 10px 0 10px;

  border-radius: 5px;
  border: 2px solid #9EB23B;
  /* background-color: rgba(0,0,0,0); */
  color: #9EB23B;
  
  padding: 5px;

  font-weight: bold;
  font-size: 24px;
}

.category button:hover{
  color:white;
  font-weight: bold;
  background-color: #9EB23B;
}

.service_btn {
    text-align: center;
    font-size: 20px;
}

.service_btn a {
    font-weight: bold;
    color: #808080;
}

/* Card, Dialog */
.card, .dialog {
    position: relative;
    display: inline-block;
    width: 300px;
    height: 240px;
    vertical-align: top;
    background-color: #fff;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
}

.dialog {
    box-sizing: border-box;
    padding: 16px;
}

.dialog > .content {
    height: 170px;
    font-size: 0.9em;
}

.dialog > .content > .title {
    font-size: 1.3em;
}

.dialog > .button {
    width: 90px;
    float: right;
}

.card.image {
    background: url(http://lorempixel.com/300/240/nature/);
    color: #fff;
}

/* Misc */
.center {
    text-align: center;
}

.label {
    padding: 0 16px;
}

.label-blue {
    color: #4285f4; 
}

.label-red {
    color: #d23f31; 
}